@import '../../utils/sass/utils/variables';

.sound {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    padding: 5px;
    border-radius: 15px;
    background : map-get($colors, pale_blue);

    &.playing {
        background: lighten(map-get($colors, tertiary), 10) ;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lighten(map-get($colors, tertiary), 10);
        width: 200px;
        height: 200px;
        margin: 10px;

        &.playing {
            background : map-get($colors, pale_blue);

        }

        svg {
            font-size: 30px;
        }
    }

    &__description {
        width: 80%;

        h2{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 5px;
        }
    
        h3 {
            font-size: 15px;
            font-weight: 400;
        }
    }
}