@import '../../utils/sass/utils/variables';

nav {
    .nav__list{
        width: 100%;
        display: flex;
        justify-content: center;

        &__element {
            text-align: center;
            min-width: 200px;
            padding: 20px;
            cursor: pointer;
        }
    }

    .nav__bars {
        font-size: 30px;
        cursor: pointer;
        padding: 5px;
        margin-right: 20px;
    }

    .nav__vertical {
        width: 100%;
        position: absolute;
        top: 93px;
        left:0;

        &__element a{
            color: #FFF;
            text-shadow: 1px 1px 3px black;
            background-color: map-get($colors, primary );
            text-align: center;
            display: block;
            width: 100%;
            padding: 10px;
            margin: 2px 0;
        }
    }
}